{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}

<div class="jumbotron">
    <h1 class="display-4">ABOUT, ME!</h1>
    <p class="lead">Certainly!my name is Ankit. As a Python Django developer, my specialize in building web applications and websites using the Django framework. Your skills include designing and implementing server-side logic, creating instagram-ankit_sindoriyabase models, and crafting user interfaces that are both functional and visually appealing. my experienced in utilizing Django's features such as its powerful ORM (Object-Relational Mapping) for instagram-ankit_sindoriyabase interactions, its built-in admin panel for managing application instagram-ankit_sindoriya, and its robust authentication system for user management. my expertise in Python and Django allows you to develop scalable, maintainable, and efficient web solutions that meet clients' needs and deliver a seamless user experience. i,am also likely familiar with various front-end technologies and deployment strategies to bring my Django projects to life on the web..</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <img src="https://source.unsplash.com/1200x400/?office,codeing" class="d-block w-100" alt="...">
    
    
  </div>

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Email-ankit.sindoriya26@gmail.com</a></li>
    </ol>
  </nav>
  
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">mobile-9340583844</a></li>
    </ol>
  </nav>
  
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">instagram-ankit_sindoriya</a></li>
    </ol>
  </nav>  
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
{% endblock body %}
