{% extends 'base.html' %}

{% block title %}Services{% endblock title %}

{% block body %}
<img src="https://source.unsplash.com/1200x400/?degree" class="d-block w-100" alt="...">
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Bachelor of Engineering</h5>
        
      </div>
      <p class="mb-1">collage:truba college of engineering and technology.</p>
      <small>bhopal.</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">10th and 12th</h5>
        
      </div>
      <p class="mb-1">st marys h.s school.</p>
      <small class="text-muted">vidisha.</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">python full stack developer course</h5>
        
      </div>
      <p class="mb-1">j.spider(banglore).</p>
      <small class="text-muted">banglore.</small>
    </a>
    
  </div>

{% endblock body %}
